.logo img {
    position: fixed;
    width: 10%;
    top: 10px;
    left: 20px;
}

.topnavi {
    position: fixed;
    text-decoration: none;
    font-family: "Open Sans SemiCondensed", Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #870000;
    top: 30px;
    right: 50px;
}
  .topnavi #menu {
    padding: 10px;
  }
  .topnavi #order {
    padding: 10px;
  }
  .topnavi #contact {
    padding: 10px;
  }
  .topnavi #about {
    padding: 10px;
  }
  .topnavi #cart {
    padding: 10px;
  }
 
 .container {
    position: relative;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    width: 100%;
    top: 100px;
    color: #000000;
  }
  
  .container img {
    position: absolute;
    top: 30px;
    width: 100%;
    height: auto;
  }

  .container .copy1 {
    position: absolute;
    font-size: 45px;
    width: 800px;
    top: 180px;
    left: 440px;
    font-weight: bolder;
    font-style: italic;
    font-family: "Open Sans SemiCondensed", Roboto, Arial, sans-serif;
  }

  .container .copy2 {
    position: absolute;
    font-size: 25px;
    width: 650px;
    top: 300px;
    left: 530px;
    text-align: center;
    font-style: italic;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
  }

  .container .btn1 {
    position: absolute;
    top: 450px;
    left: 700px;
    width: 250px;
    background-color: #870000;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
  }
  
  .container .btn2 {
    position: absolute;
    top: 520px;
    left: 700px;
    width: 250px;
    background-color: #870000;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
  }


  .container .btn1:hover, .btn2:hover {
    background-color: #000000;
  }

.order {
  position: relative;
  top: 80px;
  left: 60px;
}

  .order h1 {
    position: absolute;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    top: 20px;
  }

  .order h2 {
    position: absolute;
    font-family: "Open Sans", Roboto, Arial, sans-serif;
    font-size: 24px;
    color: #870000;
    top: 70px;
  }

  .order-container1 {
    position: absolute;
    width: 500px;
    height: 183px;
    top: 140px;
    border-style: solid;
    border-color: #C4C4C4;
    border-width: 1px;
  }

    .order h3 {
      position: absolute;
      font-family: "Open Sans", Roboto, Arial, sans-serif;
      font-size: 17px;
      top: 50px;
      left: 30px;
    }

    .order h4 {
      position: absolute;
      font-family: Roboto, Arial, sans-serif;
      font-size: 17px;
      font-weight:200;
      top: 75px;
      left: 30px;
    }

    .order img {
      position: absolute;
      width: 250px;
      height: 183px;
      right: 0px;
    }
  
  .order-container2  {
    position: absolute;
    width: 500px;
    height: 183px;
    top: 350px;
    border-style: solid;
    border-color: #C4C4C4;
    border-width: 1px;
  }

  .order-container3  {
    position: absolute;
    width: 500px;
    height: 183px;
    top: 560px;
    border-style: solid;
    border-color: #C4C4C4;
    border-width: 1px;
  } 

  .order-container4  {
    position: absolute;
    width: 500px;
    height: 183px;
    top: 140px;
    left: 700px;
    border-style: solid;
    border-color: #C4C4C4;
    border-width: 1px;
  } 

  .order-container5  {
    position: absolute;
    width: 500px;
    height: 183px;
    top: 350px;
    left: 700px;
    border-style: solid;
    border-color: #C4C4C4;
    border-width: 1px;
  } 

  .order-container6  {
    position: absolute;
    width: 500px;
    height: 183px;
    top: 560px;
    left: 700px;
    border-style: solid;
    border-color: #C4C4C4;
    border-width: 1px;
  } 

/* For Product Details Page */
.items {
  position: relative;
}

.items img {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 550px;
    height: 500px;
}

.item-container {
  position: absolute;
  top: 160px;
  left: 770px;
  font-family: "Open Sans", Roboto, Arial, sans-serif;
  color: #424242;
}
  /* original */
  .item-container h1 {
    position: absolute;
    font-family: "Open Sans SemiCondensed", Roboto, Arial, sans-serif;
    font-style: bold;
    font-size: 40px;
    color: #870000;
  }
  /* copy */
  .item-container h2 {
    position: absolute;
    top: 85px;
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    width: 500px;
  }

  /* glazing */
  .item-container h3 {
    position: absolute;
    top: 130px;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    width: 200px;
  }

  /* glazing price */
  .item-container h4 {
    position: absolute;
    top: 135px;
    left: 200px;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    width: 300px;
  }
  /* price */
  .item-container h5 {
    position: absolute;
    top: 10px;
    left: 430px;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    width: 300px;
  }

  /* sold in sets of */
  .item-container h6 {
    position: absolute;
    top: 393px;
    left: 2px;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    width: 300px;
  }

  .item-container p {
    position: absolute;
    top: 180px;
    width: 500px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
  }

.item-container #quantity {
  position: absolute;
  top: 455px;
  font-size: 20px;
  color: #424242;
  border-color: rgba(66, 66, 66, 0.34);
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  padding-left: 16px;
}

/* add to cart button */
.item-container .btn3 {
  position: absolute;
  top: 450px;
  left: 300px;
  width: 200px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  background-color: #870000;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 50px;

}

.back img {
  position: absolute;
  top: 140px;
  left: 110px;
  width: 45px;
  height: auto;
}